#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    behaviors {
        bspc_del: bspc_del {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp DELETE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            keep-mods = <(MOD_RSFT)>;
        };
        shift_caps: shift_caps {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LSHIFT>, <&kp CAPSLOCK>;
            mods = <(MOD_RSFT)>;
        };
        
        /* Bépo -> QWERTY */
                
        bp_dot_colon: bp_dot_colon {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp SEMI>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            keep-mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_apos_quest: bp_apos_quest {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp APOS>, <&kp SLASH>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            keep-mods = <(MOD_LSFT|MOD_RSFT)>;
        };

            /* Ligne 1 */

        bp_dollar_hash: bp_dollar_hash {
            // TLDE : $ (base) / # (shift)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LS(N4)>, <&kp LS(N3)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_quot_1: bp_quot_1 {
            // N1 : " (base) / 1 (shift)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DQT>, <&kp N1>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_guillopen_noralt_lnx: bp_guillopen_noralt_lnx {
            // N2 : « (base) / 2 (shift)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&mac_guillopen_lnx>, <&kp N2>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_guillopen_ralt_lnx: bp_guillopen_ralt_lnx {
            // <
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LS(COMMA)>, <&none>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_guillopen_lnx: bp_guillopen_lnx {
            // « 2 <
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bp_guillopen_noralt_lnx>, <&bp_guillopen_ralt_lnx>;
            mods = <(MOD_RALT)>;
        };
        bp_guillclose_noralt_lnx: bp_guillclose_noralt_lnx {
            // N3 : » (base) / 3 (shift)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&mac_guillclose_lnx>, <&kp N3>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_guillclose_ralt_lnx: bp_guillclose_ralt_lnx {
            // >
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LS(DOT)>, <&none>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_guillclose_lnx: bp_guillclose_lnx {
            // » 3 >
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bp_guillclose_noralt_lnx>, <&bp_guillclose_ralt_lnx>;
            mods = <(MOD_RALT)>;
        };
        bp_paren_open_noralt_lnx: bp_paren_open_noralt_lnx {
            // N4 : ( (base) / 4 (shift)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LS(N9)>, <&kp N4>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_paren_open_ralt_lnx: bp_paren_open_ralt_lnx {
            // [
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LBKT>, <&none>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_paren_open_4: bp_paren_open_4 {
            // ( 4 [
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bp_paren_open_noralt_lnx>, <&bp_paren_open_ralt_lnx>;
            mods = <(MOD_RALT)>;
        };
        bp_paren_close_noralt_lnx: bp_paren_close_noralt_lnx {
            // ) (base) / 5 (shift)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LS(N0)>, <&kp N5>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_paren_close_ralt_lnx: bp_paren_close_ralt_lnx {
            // [
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp RBKT>, <&none>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_paren_close_5: bp_paren_close_5 {
            // ) 5 ]
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bp_paren_close_noralt_lnx>, <&bp_paren_close_ralt_lnx>;
            mods = <(MOD_RALT)>;
        };
        bp_at_6: bp_at_6 {
            // @ (base) / 6 (shift)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LS(N2)>, <&kp N6>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_plus_7: bp_plus_7 {
            // + (base) / 7 (shift)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LS(EQUAL)>, <&kp N7>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_dash_8: bp_dash_8 {
            // - (base) / 8 (shift)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp N8>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_slash_9: bp_slash_9 {
            // / (base) / 9 (shift)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SLASH>, <&kp N9>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_star_0: bp_star_0 {
            // * (base) / 0 (shift)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LS(N8)>, <&kp N0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_equal_degree_lnx: bp_equal_degree_lnx {
            // Touche MINUS (fin rangée 1) : = (base) / ° (shift)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp EQUAL>, <&mac_degree_lnx>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

            /* Ligne 2 */
            
        bp_b_noralt_lnx: bp_b_noralt_lnx {
            // b (base) / B (shift)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp B>, <&kp LS(B)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_b_ralt_lnx: bp_b_ralt_lnx {
            // | _
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LS(NUBS)>, <&kp LS(MINUS)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_b_lnx: bp_b_lnx {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bp_b_noralt_lnx>, <&bp_b_ralt_lnx>;
            mods = <(MOD_RALT)>;
        };
        bp_p_noralt_lnx: bp_p_noralt_lnx {
            // p P
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp B>, <&kp LS(B)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_p_ralt_lnx: bp_p_ralt_lnx {
            // & 
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LS(N7)>, <&none>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_p_lnx: bp_p_lnx {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bp_p_noralt_lnx>, <&bp_p_ralt_lnx>;
            mods = <(MOD_RALT)>;
        };

            /* Ligne 3 */

        bp_eacute_lnx: bp_eacute_lnx {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&mac_eacute_lo_lnx>, <&mac_eacute_up_lnx>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_egrave_lnx: bp_egrave_lnx {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&mac_egrave_lo_lnx>, <&mac_egrave_up_lnx>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_ccedil_lnx: bp_ccedil_lnx {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&mac_ccedil_lo_lnx>, <&mac_ccedil_up_lnx>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_comma_semi_noralt: bp_comma_semi_noralt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SEMI>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_comma_semi_ralt: bp_comma_semi_ralt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp APOS>, <&none>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_comma_semi: bp_comma_semi {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bp_comma_semi_noralt>, <&bp_comma_semi_ralt>;
            mods = <(MOD_RALT)>;
        };

             /* rangée 4 */

        bp_ecirc_noralt_lnx: bp_ecirc_noralt_lnx {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&mac_ecirc_lo_lnx>, <&mac_ecirc_up_lnx>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_ecirc_ralt_lnx: bp_ecirc_ralt_lnx {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SLASH>, <&none>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_ecirc_lnx: bp_ecirc_lnx {
            // ê Ê /
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bp_ecirc_noralt_lnx>, <&bp_ecirc_ralt_lnx>;
            mods = <(MOD_RALT)>;
        };
        bp_agrave_noralt_lnx: bp_agrave_noralt_lnx {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&mac_agrave_lo_lnx>, <&mac_agrave_up_lnx>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_agrave_ralt_lnx: bp_agrave_ralt_lnx {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp NUHS>, <&none>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_agrave_lnx: bp_agrave_lnx {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bp_agrave_noralt_lnx>, <&bp_agrave_ralt_lnx>;
            mods = <(MOD_RALT)>;
        };
        bp_y_noralt_lnx: bp_y_noralt_lnx {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp Y>, <&kp LS(Y)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_y_ralt_lnx: bp_y_ralt_lnx {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LBRC>, <&none>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_y_lnx: bp_y_lnx {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bp_y_noralt_lnx>, <&bp_y_ralt_lnx>;
            mods = <(MOD_RALT)>;
        };
        bp_x_noralt_lnx: bp_x_noralt_lnx {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp X>, <&kp LS(X)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_x_ralt_lnx: bp_x_ralt_lnx {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp RBRC>, <&none>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_x_lnx: bp_x_lnx {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bp_x_noralt_lnx>, <&bp_x_ralt_lnx>;
            mods = <(MOD_RALT)>;
        };
        bp_k_noralt_lnx: bp_k_noralt_lnx {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp K>, <&kp LS(K)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_k_ralt_lnx: bp_k_ralt_lnx {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp TILDE>, <&none>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_k_lnx: bp_k_lnx {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bp_k_noralt_lnx>, <&bp_k_ralt_lnx>;
            mods = <(MOD_RALT)>;
        };
        bp_percent_grave: bp_percent_grave {
            // % (base) / ` (shift)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LS(N5)>, <&kp GRAVE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        /* Bépo to qwerty WIN */
        
        bp_eacute_win: bp_eacute_win {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&mac_eacute_lo_win>, <&mac_eacute_up_win>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_egrave_win: bp_egrave_win {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&mac_egrave_lo_win>, <&mac_egrave_up_win>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_ccedil_win: bp_ccedil_win {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&mac_ccedil_lo_win>, <&mac_ccedil_up_win>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_ecirc_win: bp_ecirc_win {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&mac_ecirc_lo_win>, <&mac_ecirc_up_win>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_agrave_win: bp_agrave_win {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&mac_agrave_lo_win>, <&mac_agrave_up_win>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_guillopen_win: bp_guillopen_win {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&mac_guillopen_win>, <&kp N2>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_guillclose_win: bp_guillclose_win {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&mac_guillclose_win>, <&kp N3>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_equal_degree_win: bp_equal_degree_win {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp EQUAL>, <&mac_degree_win>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        /* BÉPO to AZERTY */

        /* Ligne 1 */
        bp_dollar_hash_az: bp_dollar_hash_az {
            // TLDE : $ (base, natif AD12) / # (shift, AltGr+3)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp RBKT>, <&kp RA(N3)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_quot_1_az: bp_quot_1_az {
            // N1 : " (base) / 1 (shift) - tout natif
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N3>, <&kp LS(N1)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_guillopen_noralt_az_lnx: bp_guillopen_noralt_az_lnx {
            compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>;
            bindings = <&kp RA(W)>, <&kp LS(N2)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_guillopen_ralt_az_lnx: bp_guillopen_ralt_az_lnx {
            compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>;
            bindings = <&kp RA(LS(W))>, <&none>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_guillopen_az_lnx: bp_guillopen_az_lnx {
            compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>;
            bindings = <&bp_guillopen_noralt_az_lnx>, <&bp_guillopen_ralt_az_lnx>;
            mods = <(MOD_RALT)>;
        };
        bp_guillclose_noralt_az_lnx: bp_guillclose_noralt_az_lnx {
            compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>;
            bindings = <&kp RA(X)>, <&kp LS(N3)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_guillclose_ralt_az_lnx: bp_guillclose_ralt_az_lnx {
            compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>;
            bindings = <&kp RA(LS(X))>, <&none>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_guillclose_az_lnx: bp_guillclose_az_lnx {
            compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>;
            bindings = <&bp_guillclose_noralt_az_lnx>, <&bp_guillclose_ralt_az_lnx>;
            mods = <(MOD_RALT)>;
        };
        bp_paren_open_4_az: bp_paren_open_4_az {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N5>, <&kp LS(N4)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_paren_close_5_az: bp_paren_close_5_az {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp LS(N5)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_at_6_az: bp_at_6_az {
            // @ = AltGr+0 sur AZERTY
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp RA(N0)>, <&kp LS(N6)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_plus_7_az: bp_plus_7_az {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LS(EQUAL)>, <&kp LS(N7)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_dash_8_az: bp_dash_8_az {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N6>, <&kp LS(N8)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_slash_9_az: bp_slash_9_az {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LS(DOT)>, <&kp LS(N9)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_star_0_az: bp_star_0_az {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp NUHS>, <&kp LS(N0)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_equal_degree_az: bp_equal_degree_az {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp EQUAL>, <&kp LS(MINUS)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_percent_grave_az: bp_percent_grave_az {
            // % (base, shift+ù) / ` (shift, AltGr+7)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LS(APOS)>, <&kp RA(N7)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        /* Ligne 2 */

        bp_b_noralt_az: bp_b_noralt_az {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp B>, <&kp LS(B)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_b_ralt_az: bp_b_ralt_az {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp RA(N6)>, <&none>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_b_az: bp_b_az {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bp_b_noralt_az>, <&bp_b_ralt_az>;
            mods = <MOD_RALT>;
        };
        bp_eacute_az_lnx: bp_eacute_az_lnx {
            compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>;
            bindings = <&kp N2>, <&mac_eacute_up_lnx>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_p_noralt_az: bp_p_noralt_az {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp P>, <&kp LS(P)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_p_ralt_az: bp_p_ralt_az {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N1>, <&none>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_p_az: bp_p_az {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bp_p_noralt_az>, <&bp_p_ralt_az>;
            mods = <MOD_RALT>;
        };
        bp_circ_bang_az: bp_circ_bang_az {
            // touche Y (Bépo) : accent circonflexe mort (base) / ! (shift)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LBKT>, <&kp SLASH>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        /* Ligne 3 */

        bp_ccedil_az_lnx: bp_ccedil_az_lnx {
            compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>;
            bindings = <&kp N9>, <&mac_ccedil_up_lnx>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_comma_semi_az: bp_comma_semi_az {
            // , (base) / ; (shift)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp M>, <&kp COMMA>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        /* Ligne 4 */

        bp_ecirc_noralt_az: bp_ecirc_noralt_az {
            // ê : touche morte ^ + e (natif, marche pareil sur tous les OS)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&mac_ecirc_az>, <&mac_ecirc_up_az>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_ecirc_ralt_az: bp_ecirc_ralt_az {
            // /
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LS(DOT)>, <&kp RA(N9)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_ecirc_az: bp_ecirc_az {
            // ê Ê /
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bp_ecirc_noralt_az>, <&bp_ecirc_ralt_az>;
            mods = <MOD_RALT>;
        };
        bp_agrave_noralt_az_lnx: bp_agrave_noralt_az_lnx {
            // à À
            compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>;
            bindings = <&kp N0>, <&mac_agrave_up_lnx>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_agrave_ralt_az: bp_agrave_ralt_az {
            // \
            compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>;
            bindings = <&kp RALT(N8)>, <&none>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_agrave_az_lnx: bp_agrave_az_lnx {
            // à À \
            compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>;
            bindings = <&bp_agrave_noralt_az_lnx>, <&bp_agrave_ralt_az>;
            mods = <MOD_RALT>;
        };
        bp_y_noralt_az: bp_y_noralt_az {
            compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>;
            bindings = <&kp Y>, <&kp LS(Y)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_y_ralt_az: bp_y_ralt_az {
            compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>;
            bindings = <&kp RA(N4)>, <&none>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_y_az: bp_y_az {
            // y Y {
            compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>;
            bindings = <&bp_y_noralt_az>, <&bp_y_ralt_az>;
            mods = <MOD_RALT>;
        };
        bp_x_noralt_az: bp_x_noralt_az {
            compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>;
            bindings = <&kp X>, <&kp LS(X)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_x_ralt_az: bp_x_ralt_az {
            compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>;
            bindings = <&kp RA(EQUAL)>, <&none>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_x_az: bp_x_az {
            // x X }
            compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>;
            bindings = <&bp_x_noralt_az>, <&bp_x_ralt_az>;
            mods = <MOD_RALT>;
        };
        bp_dot_colon_az: bp_dot_colon_az {
            // . (base) / : (shift)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LS(COMMA)>, <&kp DOT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_k_noralt_az: bp_k_noralt_az {
            compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>;
            bindings = <&kp K>, <&kp LS(K)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_k_ralt_az: bp_k_ralt_az {
            compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>;
            bindings = <&kp RA(N2)>, <&none>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_k_az: bp_k_az {
            compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>;
            bindings = <&bp_k_noralt_az>, <&bp_k_ralt_az>;
            mods = <MOD_RALT>;
        };
        bp_apos_quest_az: bp_apos_quest_az {
            // ' (base) / ? (shift)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N4>, <&kp LS(M)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_egrave_az_lnx: bp_egrave_az_lnx {
            compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>;
            bindings = <&kp N7>, <&mac_egrave_up_lnx>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_eacute_az_win: bp_eacute_az_win {
            compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>;
            bindings = <&kp N2>, <&mac_eacute_up_win>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_egrave_az_win: bp_egrave_az_win {
            compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>;
            bindings = <&kp N7>, <&mac_egrave_up_win>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_agrave_az_win: bp_agrave_az_win {
            compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>;
            bindings = <&kp N0>, <&mac_agrave_up_win>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_ccedil_az_win: bp_ccedil_az_win {
            compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>;
            bindings = <&kp N9>, <&mac_ccedil_up_win>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_guillopen_az_win: bp_guillopen_az_win {
            compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>;
            bindings = <&mac_guillopen_win>, <&kp LS(N2)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        bp_guillclose_az_win: bp_guillclose_az_win {
            compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>;
            bindings = <&mac_guillclose_win>, <&kp LS(N3)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    macros {
        /* --- ê en AZ : touche morte ^ (native, indépendant de l'OS) --- */
        mac_ecirc_az: mac_ecirc_az {
            compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_tap &kp LBKT &kp E>;
        };
        mac_ecirc_up_az: mac_ecirc_up_az {
            compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_tap &kp LBKT &kp LS(E)>;
        };
        /* ============== LINUX (Ctrl+Shift+U, hex, Entrée) ============== */
        mac_eacute_lo_lnx: mac_eacute_lo_lnx {
            compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N0 &kp N0 &kp E &kp N9 &kp ENTER>;
        };
        mac_eacute_up_lnx: mac_eacute_up_lnx {
            compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N0 &kp N0 &kp C &kp N9 &kp ENTER>;
        };
        mac_egrave_lo_lnx: mac_egrave_lo_lnx {
            compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N0 &kp N0 &kp E &kp N8 &kp ENTER>;
        };
        mac_egrave_up_lnx: mac_egrave_up_lnx {
            compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N0 &kp N0 &kp C &kp N8 &kp ENTER>;
        };
        mac_ccedil_lo_lnx: mac_ccedil_lo_lnx {
            compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N0 &kp N0 &kp E &kp N7 &kp ENTER>;
        };
        mac_ccedil_up_lnx: mac_ccedil_up_lnx {
            compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N0 &kp N0 &kp C &kp N7 &kp ENTER>;
        };
       mac_ecirc_lo_lnx: mac_ecirc_lo_lnx {
            compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N0 &kp N0 &kp E &kp A &kp ENTER>;
        };
        mac_ecirc_up_lnx: mac_ecirc_up_lnx {
            compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N0 &kp N0 &kp C &kp A &kp ENTER>;
        };
        mac_agrave_lo_lnx: mac_agrave_lo_lnx {
            compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N0 &kp N0 &kp E &kp N0 &kp ENTER>;
        };
        mac_agrave_up_lnx: mac_agrave_up_lnx {
            compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N0 &kp N0 &kp C &kp N0 &kp ENTER>;
        };
        mac_guillopen_lnx: mac_guillopen_lnx {
            compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N0 &kp N0 &kp A &kp B &kp ENTER>;
        };
        mac_guillclose_lnx: mac_guillclose_lnx {
            compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N0 &kp N0 &kp B &kp B &kp ENTER>;
        };
        mac_degree_lnx: mac_degree_lnx {
            compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N0 &kp N0 &kp B &kp N0 &kp ENTER>;
        };

        /* ====== WINDOWS (WinCompose, touche Compose = RAlt) ====== */
        mac_eacute_lo_win: mac_eacute_lo_win {
            compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_tap &kp RALT>, <&macro_tap &kp U>, <&macro_tap &kp N0 &kp N0 &kp E &kp N9>, <&macro_tap &kp ENTER>;
        };
        mac_eacute_up_win: mac_eacute_up_win {
            compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_tap &kp RALT>, <&macro_tap &kp U>, <&macro_tap &kp N0 &kp N0 &kp C &kp N9>, <&macro_tap &kp ENTER>;
        };
        mac_egrave_lo_win: mac_egrave_lo_win {
            compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_tap &kp RALT>, <&macro_tap &kp U>, <&macro_tap &kp N0 &kp N0 &kp E &kp N8>, <&macro_tap &kp ENTER>;
        };
        mac_egrave_up_win: mac_egrave_up_win {
            compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_tap &kp RALT>, <&macro_tap &kp U>, <&macro_tap &kp N0 &kp N0 &kp C &kp N8>, <&macro_tap &kp ENTER>;
        };
        mac_ccedil_lo_win: mac_ccedil_lo_win {
            compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_tap &kp RALT>, <&macro_tap &kp U>, <&macro_tap &kp N0 &kp N0 &kp E &kp N7>, <&macro_tap &kp ENTER>;
        };
        mac_ccedil_up_win: mac_ccedil_up_win {
            compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_tap &kp RALT>, <&macro_tap &kp U>, <&macro_tap &kp N0 &kp N0 &kp C &kp N7>, <&macro_tap &kp ENTER>;
        };
        mac_ecirc_lo_win: mac_ecirc_lo_win {
            compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_tap &kp RALT>, <&macro_tap &kp U>, <&macro_tap &kp N0 &kp N0 &kp E &kp A>, <&macro_tap &kp ENTER>;
        };
        mac_ecirc_up_win: mac_ecirc_up_win {
            compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_tap &kp RALT>, <&macro_tap &kp U>, <&macro_tap &kp N0 &kp N0 &kp C &kp A>, <&macro_tap &kp ENTER>;
        };
        mac_agrave_lo_win: mac_agrave_lo_win {
            compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_tap &kp RALT>, <&macro_tap &kp U>, <&macro_tap &kp N0 &kp N0 &kp E &kp N0>, <&macro_tap &kp ENTER>;
        };
        mac_agrave_up_win: mac_agrave_up_win {
            compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_tap &kp RALT>, <&macro_tap &kp U>, <&macro_tap &kp N0 &kp N0 &kp C &kp N0>, <&macro_tap &kp ENTER>;
        };
        mac_guillopen_win: mac_guillopen_win {
            compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_tap &kp RALT>, <&macro_tap &kp U>, <&macro_tap &kp N0 &kp N0 &kp A &kp B>, <&macro_tap &kp ENTER>;
        };
        mac_guillclose_win: mac_guillclose_win {
            compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_tap &kp RALT>, <&macro_tap &kp U>, <&macro_tap &kp N0 &kp N0 &kp B &kp B>, <&macro_tap &kp ENTER>;
        };
        mac_degree_win: mac_degree_win {
            compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_tap &kp RALT>, <&macro_tap &kp U>, <&macro_tap &kp N0 &kp N0 &kp B &kp N0>, <&macro_tap &kp ENTER>;
        };
    };
    
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <5 6>;
            then-layer = <7>;
        };
    };
    keymap {
        compatible = "zmk,keymap";

        default_layer { // layer 0
            display-name = "Base";
/*
 * |------------------------------------------------------------------------------------------------------------------|
 * | $     | "     | «     | »     | (     | )     |                  | @     | +     | -     | /     | *     | =     |
 * | w     | b     | é     | p     | o     | è     |                  | ^     | v     | d     | l     | j     | z     |
 * | ç     | a     | u     | i     | e     | ,     |                  | c     | t     | s     | r     | n     | m     |
 * | ê     | à     | y     | x     | .     | k     |                  | ’     | q     | g     | h     | f     | %     |
 * |-------|-------|-------|-------|-------|-------|--------  --------|-------|-------|-------|-------|-------|-------|
 * | Super | Ctrl  | Alt   | LOWER | Shift | Espace| Entrée|  | Suppr | Espace| Shift | RAISE | AltGr | Tab   | Échap |
 */
            bindings = <
&kp GRAVE &kp N1 &kp N2 &kp N3 &kp N4 &kp N5                                          &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp MINUS
&kp RBKT &kp Q &kp W &kp E &kp R                                                      &kp T &kp Y &kp U &kp I &kp O &kp P &kp LBKT
&kp NUHS &kp A &kp S &kp D &kp F &kp G                                                &kp H &kp J &kp K &kp L &kp SEMI &kp APOS
&kp NUBS &kp Z &kp X &kp C &kp V &kp B                                                &kp N &kp M &kp COMMA &kp DOT &kp SLASH &kp EQUAL
&kp LGUI &kp LCTRL &kp LALT &mo 5 &shift_caps &kp SPACE     &kp RET     &bspc_del     &kp SPACE &kp RSHIFT &mo 6 &kp RALT &kp TAB &kp ESC
            >;
        };
        qwerty_compat_layer { // layer 1
            // Couche 2 : translittère le Bépo pour un hôte QWERTY.
            display-name = "QWERTY-compat";
            bindings = <
&bp_dollar_hash &bp_quot_1 &bp_guillopen_lnx &bp_guillclose_lnx &bp_paren_open_4 &bp_paren_close_5     &bp_at_6 &bp_plus_7 &bp_dash_8 &bp_slash_9 &bp_star_0 &bp_equal_degree_lnx
&trans &bp_b_lnx &bp_eacute_lnx &bp_p_lnx &kp O &bp_egrave_lnx                                         &trans &kp V &kp D &kp L &kp J &kp Z
&bp_ccedil_lnx &kp A &kp U &kp I &kp E &bp_comma_semi                                                  &kp C &kp T &kp S &kp R &kp N &kp M
&bp_ecirc_lnx &bp_agrave_lnx &bp_y_lnx &bp_x_lnx &bp_dot_colon &bp_k_lnx                               &bp_apos_quest &kp Q &kp G &kp H &kp F &bp_percent_grave
&trans &trans &trans &trans &trans &trans          &trans     &trans                                   &trans &trans &trans &trans &trans &trans
            >;
        };
        qwerty_compat_windows_overlay { // layer 2
            // Couche 3 : à activer PAR-DESSUS la couche 2 sous Windows.
            display-name = "Accents-Win";
            bindings = <
&trans &trans &bp_guillopen_win &bp_guillclose_win &trans &trans              &trans &trans &trans &trans &trans &bp_equal_degree_win
&trans &trans &bp_eacute_win &trans &trans &bp_egrave_win                     &trans &trans &trans &trans &trans &trans
&bp_ccedil_win &trans &trans &trans &trans &trans                             &trans &trans &trans &trans &trans &trans
&bp_ecirc_win &bp_agrave_win &bp_y_lnx &bp_x_lnx &trans &trans                &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans          &trans     &trans          &trans &trans &trans &trans &trans &trans
            >;
        };
        azerty_compat_layer { // Layer 3
            // Couche 5 : translittère le Bépo pour un hôte AZERTY.
            display-name = "AZERTY-compat";
            bindings = <
&bp_dollar_hash_az &bp_quot_1_az &bp_guillopen_az_lnx &bp_guillclose_az_lnx &bp_paren_open_4_az &bp_paren_close_5_az     &bp_at_6_az &bp_plus_7_az &bp_dash_8_az &bp_slash_9_az &bp_star_0_az &bp_equal_degree_az
&kp Z &bp_b_az &bp_eacute_az_lnx &bp_p_az &kp O &bp_egrave_az_lnx                                                        &bp_circ_bang_az &kp V &kp D &kp L &kp J &kp W
&bp_ccedil_az_lnx &kp Q &kp U &kp I &kp E &bp_comma_semi_az                                                              &kp C &kp T &kp S &kp R &kp N &kp SEMI
&bp_ecirc_az &bp_agrave_az_lnx &bp_y_az &bp_x_az &bp_dot_colon_az &bp_k_az                                               &bp_apos_quest_az &kp A &kp G &kp H &kp F &bp_percent_grave_az
&trans &trans &trans &trans &trans &trans          &trans     &trans                                                     &trans &trans &trans &trans &trans &trans
            >;
        };
        azerty_compat_windows_overlay { // Layer 4
            // Couche 6 : à activer PAR-DESSUS la couche 5 sous Windows.
            display-name = "Accents-Win-AZ";
            bindings = <
&trans &trans &bp_guillopen_az_win &bp_guillclose_az_win &trans &trans        &trans &trans &trans &trans &trans &trans
&trans &trans &bp_eacute_az_win &trans &trans &bp_egrave_az_win               &trans &trans &trans &trans &trans &trans
&bp_ccedil_az_win &trans &trans &trans &trans &trans                          &trans &trans &trans &trans &trans &trans
&trans &bp_agrave_az_win &trans &trans &trans &trans                          &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans          &trans     &trans          &trans &trans &trans &trans &trans &trans
            >;
        };
        lower_layer { // layer 5
            display-name = "Lower Layer";
/*
 * |------------------------------------------------------------------------------------------------------------------|
 * |       |       | F12   | F13   | F14   | F15   |                  | Suppr | Tab   | /     | *     | NumL  |       |
 * |       |       |       |       |       |       |                  | Efface| 7     | 8     | 9     |       |       |
 * |       |       |       |       |       |       |                  | Entrée| 4     | 5     | 6     | +     |       |
 * |       |       |       |       |       |       |                  | Entrée| 1     | 2     | 3     | Efface|       |
 * |-------|-------|-------|-------|-------|-------|--------  --------|-------|-------|-------|-------|-------|-------|
 * |       |       |       |       |       |       |       |  |       |       | 0     |       | .     | Entrée|       |
 */
            bindings = <
&none &none &kp F12 &kp F13 &kp F14 &kp F15                         &kp DEL &kp TAB &kp KP_SLASH &kp KP_ASTERISK &kp KP_NLCK &none
&none &none &none &none &none &none                                 &kp BSPC &kp KP_N7 &kp KP_N8 &kp KP_N9 &kp KP_MINUS &none
&none &none &none &none &none &none                                 &kp KP_ENTER &kp KP_N4 &kp KP_N5 &kp KP_N6 &kp KP_PLUS &none
&none &none &none &none &none &none                                 &kp KP_ENTER &kp KP_N1 &kp KP_N2 &kp KP_N3 &kp BSPC &none
&trans &trans &trans &trans &trans &trans     &trans     &trans     &trans &kp KP_N0 &trans &kp KP_DOT &kp KP_ENTER &trans 
            >;
        };
        raise_layer { // layer 6
            display-name = "Raise Layer";
/*
 * |------------------------------------------------------------------------------------------------------------------|
 * | PrScr | F1    | F2    | F3    | F4    | F5    |                  | F6    | F7    | F8    | F9    | F10   | F11   |
 * |       |       |       |       |       |       |                  | Ins   | Home  | ↑     | End   | Pg Up | F12   |
 * |       |       |       |       |       |       |                  | Del   | ←     | ↓     | →     | Pg Dn | VOL+  |
 * |       |       |       |       |       |       |                  |       | Prev  | PP    | Next  |       | VOL-  |
 * |-------|-------|-------|-------|-------|-------|------------------|-------|-------|-------|-------|-------|-------|
 * |       |       |       |       |       |       |       |  |       |       |       |       |       |       | Mute  |
 */
            bindings = <
&kp PSCRN &kp F1 &kp F2 &kp F3 &kp F4 &kp F5                        &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &kp F11
&none &none &none &none &none &none                                 &kp INS &kp HOME &kp UP &kp END &kp PG_UP &kp F12
&none &none &none &none &none &none                                 &kp DEL &kp LEFT &kp DOWN &kp RIGHT &kp PG_DN &kp K_VOL_UP
&none &none &none &none &none &none                                 &none &kp K_PREV &kp K_PP &kp K_NEXT &none &kp K_VOL_DN
&trans &trans &trans &trans &trans &trans     &trans     &trans     &trans &trans &trans &trans &trans &kp K_MUTE
            >;
        };
        adjust_layer { // layer 7
            display-name = "Ajust Layer";
/*
 * |------------------------------------------------------------------------------------------------------------------|
 * | Unlock| BT 0  | BT 1  | BT 2  | BT 3  |       |                  |       |       |       |       |       | Reset |
 * |       | ClrBt |       |       | ClrAll|       |                  |       |       |       |       |       | Flash |
 * |       |       |       |       |       |       |                  |       |       |       |       |       |       |
 * |       |       |       |       |       |       |                  |       |       |       |       |       |       |
 * |-------|-------|-------|-------|-------|-------|------------------|-------|-------|-------|-------|-------|-------|
 * | Super | Ctrl  | Alt   |       | Shift | Espace| Entrée|  | Suppr | Espace| Shift |       | AltGr | Tab   | Échap |
 */
            bindings = <
&studio_unlock &bt BT_SEL 0 &bt BT_SEL 1  &bt BT_SEL 2 &bt BT_SEL 3 &none              &none &none &none &none &none &sys_reset
&none &bt BT_CLR &none &none &bt BT_CLR_ALL &none                                      &none &none &none &none &none &bootloader
&none &none &none &none &none &none                                                    &to 0 &tog 1 &tog 2 &none &none &none
&none &none &none &none &none &none                                                    &none &tog 3 &tog 4 &none &none &none
&kp LGUI &kp LCTRL &kp LALT &trans &shift_caps &kp SPACE     &kp RET     &bspc_del     &kp SPACE &kp RSHIFT &trans &kp RALT &kp TAB &kp ESC
            >;
        };
    };
};
